In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_breast_cancer
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from xgboost import XGBClassifier
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import MinMaxScaler

In [11]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

order_id = test_df['order_id']

train_df = fix_columns(train_df)
test_df = fix_columns_2(test_df)


train_df['order_date'] = lb.fit_transform(train_df['order_date'])
test_df['order_date'] = lb.fit_transform(test_df['order_date'])
train_df

,order_date,last_mile_distance,cancelled,undelivered_orders,lifetime_order_count,session_time,accept_duration
0,0,2.65,0,0.0,621.0,NaN,9.0
1,0,2.76,0,0.0,105.0,3.266667,48.0
2,0,4.80,0,0.0,66.0,9.816667,16.0
3,0,6.38,0,0.0,127.0,17.533333,41.0
4,0,4.01,0,0.0,84.0,1.350000,36.0
...,...,...,...,...,...,...,...
449995,11,0.19,0,0.0,127.0,369.516667,30.0
449996,11,1.19,0,0.0,105.0,239.133333,76.0
449997,11,1.61,0,0.0,1488.0,204.150000,33.0
449998,11,4.68,0,0.0,105.0,65.583333,142.0
449999,11,0.09,0,0.0,108.0,212.000000,89.0

In [3]:
train = pd.read_csv('train.csv')

In [4]:
train.head()

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
0,2021-01-26 02:21:35,556753,2021-01-26 00:00:00,2021-01-26 02:21:59,2021-01-26 02:22:08,2021-01-26 02:32:51,2021-01-26 02:49:47,11696,1.5666,2.65,46.0,46.0,0,0.0,621.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-26 02:33:16,556754,2021-01-26 00:00:00,2021-01-26 02:33:57,2021-01-26 02:34:45,2021-01-26 02:50:25,2021-01-26 03:11:15,18117,2.5207,2.76,8.0,8.0,0,0.0,105.0,NaN,NaN,NaN,3.266667,NaN
2,2021-01-26 02:39:49,556755,2021-01-26 00:00:00,2021-01-26 02:39:57,2021-01-26 02:40:13,2021-01-26 02:56:00,2021-01-26 03:12:46,18623,2.2074,4.80,1.0,1.0,0,0.0,66.0,NaN,NaN,NaN,9.816667,NaN
3,2021-01-26 02:47:53,556756,2021-01-26 00:00:00,2021-01-26 02:48:25,2021-01-26 02:49:06,2021-01-26 03:21:51,2021-01-26 03:41:05,15945,2.1894,6.38,1.0,1.0,0,0.0,127.0,NaN,NaN,NaN,17.533333,NaN
4,2021-01-26 03:06:30,556757,2021-01-26 00:00:00,2021-01-26 03:07:21,2021-01-26 03:07:57,2021-01-26 03:31:38,2021-01-26 04:00:15,17589,2.7870,4.01,34.0,34.0,0,0.0,84.0,NaN,NaN,NaN,1.350000,NaN

In [6]:
train['cancelled'].value_counts()

0    444782
1      5218
Name: cancelled, dtype: int64

In [7]:
444782/5218

85.23993867382138

In [9]:
sns.heatmap(train.isna(), cbar=False, yticklabels=False, xticklabels=df.columns)

NameError: name 'df' is not defined

In [187]:
train_df.undelivered_orders.value_counts()

0.0    232686
1.0    118103
2.0     50582
3.0     20011
4.0      7733
5.0      1851
6.0       932
7.0       600
8.0       105
9.0        56
Name: undelivered_orders, dtype: int64

In [12]:
def main():
    #importing data
    train_df = pd.read_csv('train.csv')
    test_df = pd.read_csv('test.csv')
    #preprocessing data
    train_df = fix_columns(train_df)
    test_df = fix_columns_2(test_df)
    
    
    y = train_df['cancelled']
    X = train_df.drop(['cancelled'], axis = 1)
    
    train_df = fix_na(train_df)
    test_df = fix_na(test_df)
        
    X = scale_numeric(X)
    
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)
    
    trees = DecisionTreeClassifier(random_state=0)
    forest = RandomForestClassifier(n_estimators=20, random_state=2)

    preds_trees = trees.fit(X_train,y_train).predict(X_test)
    preds_forest = forest.fit(X_train,y_train).predict(X_test)

    print(f"Trees Test accuracy { accuracy_score(preds_trees, y_test)}")
    print(f"Forest Test accuracy { accuracy_score(preds_forest, y_test)}")

In [6]:
def xgb():
    train_df = pd.read_csv('train.csv')
    test_df = pd.read_csv('test.csv')
    #preprocessing data
    train_df = fix_columns(train_df)
    test_df = fix_columns_2(test_df)
    
    train_df = fix_na(train_df)
    test_df = fix_na(test_df)
    
    y = train_df['cancelled']
    X = train_df.drop(['cancelled'], axis = 1)
        
    X = scale_numeric(X)
    
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)
    model = XGBClassifier()
    preds = model.fit(X_train, y_train).predict(X_test)
    print(f"Accuracy of model {accuracy_score(preds, y_test)}")
    print(confusion_matrix(y_test, preds))

In [1]:
def fix_columns(df):
    df = df.drop(['order_id', 'reassigned_order', 'reassignment_method', 'reassignment_reason','order_time','rider_id','first_mile_distance'], axis = 1)
    df['allot_time'] = pd.to_datetime(df['allot_time'])
    df['accept_time'] = pd.to_datetime(df['accept_time'])
    t1 = df['accept_time'] - df['allot_time']
    df['accept_duration'] = t1
    df = df.drop(['allot_time','accept_time','pickup_time','cancelled_time','delivered_time','delivered_orders','alloted_orders'], axis = 1)
    df['accept_duration'] = pd.to_timedelta(df['accept_duration']).dt.total_seconds()
    lb = preprocessing.LabelEncoder()
    df['order_date'] = lb.fit_transform(df['order_date'])
    return df
    
def fix_columns_2(df):
    df = df.drop(['order_id', 'reassigned_order', 'reassignment_method', 'reassignment_reason','order_time','rider_id','first_mile_distance'], axis = 1)
    df['allot_time'] = pd.to_datetime(df['allot_time'])
    df['accept_time'] = pd.to_datetime(df['accept_time'])
    t1 = df['accept_time'] - df['allot_time']
    df['accept_duration'] = t1
    df = df.drop(['allot_time','accept_time','delivered_orders','alloted_orders'], axis = 1)
    df['accept_duration'] = pd.to_timedelta(df['accept_duration']).dt.total_seconds()
    lb = preprocessing.LabelEncoder()
    df['order_date'] = lb.fit_transform(df['order_date'])
    return df

def fix_na(df):
    lr = LinearRegression()
    imp = IterativeImputer(estimator = lr, tol = 1e-10, max_iter = 50, verbose = 2, imputation_order = 'roman')
    imp.fit_transform(df)
    df = imp.transform(df)
    df = pd.DataFrame(df)
    return df

def scale_numeric(df):
    x = df.values 
    scaler = preprocessing.StandardScaler()
    x_scaled = scaler.fit_transform(x)
    df = pd.DataFrame(x_scaled)
    return df

def normalize_data(df):
    x = df.values 
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    df = pd.DataFrame(x_scaled)
    return df

def remove_outlier(df,col):
    df_transactions = df[[col]]
    z_scores = zscore(df_transactions)
    abs_z_scores = np.abs(z_scores)
    filtered_entries = (abs_z_scores < 3).all(axis=1)
    new_df = df[filtered_entries]
    return new_df

In [8]:
test_df

NameError: name 'test_df' is not defined

In [9]:
xgb()

[IterativeImputer] Completing matrix with shape (450000, 7)
[IterativeImputer] Ending imputation round 1/50, elapsed time 0.93
[IterativeImputer] Change: 1072.3559909713156, scaled tolerance: 3.0469e-06
[IterativeImputer] Ending imputation round 2/50, elapsed time 1.87
[IterativeImputer] Change: 53.93615134047808, scaled tolerance: 3.0469e-06
[IterativeImputer] Ending imputation round 3/50, elapsed time 2.78
[IterativeImputer] Change: 2.4284088002714785, scaled tolerance: 3.0469e-06
[IterativeImputer] Ending imputation round 4/50, elapsed time 3.71
[IterativeImputer] Change: 0.15777465051730233, scaled tolerance: 3.0469e-06
[IterativeImputer] Ending imputation round 5/50, elapsed time 4.67
[IterativeImputer] Change: 0.009022309086889169, scaled tolerance: 3.0469e-06

KeyboardInterrupt:

In [22]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

order_id = test_df['order_id']

train_df = fix_columns(train_df)
test_df = fix_columns_2(test_df)


train_df['order_date'] = lb.fit_transform(train_df['order_date'])
test_df['order_date'] = lb.fit_transform(test_df['order_date'])

def fix_na_2(df):
    df['session_time']=df['session_time'].fillna(method='bfill')
    df['undelivered_orders']=df['undelivered_orders'].fillna(1)
    df['lifetime_order_count'] = df['lifetime_order_count'].fillna(method = 'bfill')
    df['accept_duration'] = df['accept_duration'].fillna(method = 'bfill')
    return df

train_df = fix_na_2(train_df)
test_df = fix_na_2(test_df)

test_df = scale_numeric(test_df)

y = train_df['cancelled']
X = train_df.drop(['cancelled'], axis = 1)

In [19]:
def fix_na_2(df):
    df['undelivered_orders']=df['undelivered_orders'].fillna(1)
    df['lifetime_order_count'] = df['lifetime_order_count'].fillna(method = 'bfill')
    df['accept_duration'] = df['accept_duration'].fillna(method = 'bfill')
    return df

In [26]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

order_id = test_df['order_id']

train_df = fix_columns(train_df)
test_df = fix_columns_2(test_df)

train_df['order_date'] = lb.fit_transform(train_df['order_date'])
test_df['order_date'] = lb.fit_transform(test_df['order_date'])

train_df = scale_numeric(train_df)
test_df = scale_numeric(test_df)

test_df = scale_numeric(test_df)
X = scale_numeric(X)

test_df = normalize_data(test_df)
X = normalize_data(X)

test_df

          0         1    2         3         4         5
0       0.0  0.219536  0.1  0.024517  0.225891  0.818340
1       0.0  0.282398  0.0  0.002462  0.208293  0.815058
2       0.0  0.047872  0.0  0.072664  0.199438  0.828764
3       0.0  0.125242  0.3  0.033477  0.241204  0.817761
4       0.0  0.045455  0.2  0.239063  0.204189  0.824903
...     ...       ...  ...       ...       ...       ...
144839  1.0  0.191489  0.0  0.013555  0.148116  0.815058
144840  1.0  0.077853  0.2  0.009321  0.201931  0.819884
144841  1.0  0.060928  0.0  0.003906  0.213994  0.826255
144842  1.0  0.265957  0.3  0.057731  0.672785  0.817954
144843  1.0  0.199710  0.0  0.001411  0.133464  0.828378

[144844 rows x 6 columns]

In [27]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

order_id = test_df['order_id']

train_df = fix_columns(train_df)
test_df = fix_columns_2(test_df)

train_df['order_date'] = lb.fit_transform(train_df['order_date'])
test_df['order_date'] = lb.fit_transform(test_df['order_date'])

train_df = fix_na_2(train_df)
test_df = fix_na_2(test_df)

y = train_df['cancelled']
X = train_df.drop(['cancelled'], axis = 1)

test_df = scale_numeric(test_df)
X = scale_numeric(X)

test_df = normalize_data(test_df)
X = normalize_data(X)

model = RandomForestClassifier(n_estimators=20, random_state=7)
preds = model.fit(X, y).predict(test_df)

In [28]:
y.value_counts()

0    444782
1      5218
Name: cancelled, dtype: int64

In [29]:
type(preds)

numpy.ndarray

In [30]:
unique, counts = np.unique(preds, return_counts=True)
dict(zip(unique, counts))

{0: 498, 1: 144346}

In [208]:
type(order_id)

pandas.core.series.Series

In [32]:
preds = pd.Series(preds)

In [33]:
preds.value_counts()

1    144346
0       498
dtype: int64

In [35]:
ans = pd.concat([order_id,preds], axis=1)

In [36]:
ans

        order_id  0
0         130231  1
1         130232  1
2         130233  1
3         130234  1
4         130235  1
...          ... ..
144839     41184  1
144840     41185  1
144841     41186  1
144842     41187  1
144843     41188  1

[144844 rows x 2 columns]

In [37]:
ans.rename(columns={0:'cancelled'}, inplace=True)

In [38]:
ans

        order_id  cancelled
0         130231          1
1         130232          1
2         130233          1
3         130234          1
4         130235          1
...          ...        ...
144839     41184          1
144840     41185          1
144841     41186          1
144842     41187          1
144843     41188          1

[144844 rows x 2 columns]

In [39]:
ans.to_csv('ans4.csv', index=False)

In [214]:
ans.columns

Index(['order_id', 'cancelled'], dtype='object')

In [100]:
train_df

,first_mile_distance,last_mile_distance,cancelled,undelivered_orders,lifetime_order_count,accept_duration
0,1.5666,2.65,0,0.0,621.0,9.0
1,2.5207,2.76,0,0.0,105.0,48.0
2,2.2074,4.80,0,0.0,66.0,16.0
3,2.1894,6.38,0,0.0,127.0,41.0
4,2.7870,4.01,0,0.0,84.0,36.0
...,...,...,...,...,...,...
449995,0.5789,0.19,0,0.0,127.0,30.0
449996,1.9863,1.19,0,0.0,105.0,76.0
449997,1.5944,1.61,0,0.0,1488.0,33.0
449998,2.8939,4.68,0,0.0,105.0,142.0
449999,1.8925,0.09,0,0.0,108.0,89.0